@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var item = ViewBag.CurrentCategory;
}
<section>
    <div class="panel row">
        <div class="col-md-7">
            <h1>@item.Name</h1>
            <dl class="food-menu">
                @foreach (var child in item.Children)
                {
                    ViewBag.CurrentMenuItem = child;
                    @Html.Partial("MenuItem")
                }
            </dl>
        </div>
        <div class="hidden-xs">
            <img class="col-md-5" src="@Umbraco.Media(item.Image).Url?width=450"/>
        </div>
    </div>
</section>